.feature-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 15px !important; // Sobreescribiendo bootstrap ligeramente

  &__icon {
    height: 80px;
    width: 80px;
    background-color: rgba($primary-color, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    @include flex-center; // Usando el mixin
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
